oracle=oracle.jdbc.driver.OracleDriver
mysql=com.mysql.jdbc.Driver
postgres=org.postgresql.Driver
sqlserver=com.microsoft.sqlserver.jdbc.SQLServerDriver
netezza=org.netezza.Driver
db2=com.ibm.db2.jcc.DB2Driver
jtds=net.sourceforge.jtds.jdbc.Driver
teradata=com.teradata.jdbc.TeraDriver
sap=com.sap.db.jdbc.Driver