# System created. Never modify this file.
# encryption key seed for PES encryption service.
# only create this file once. distribute this file to all other servers.
px.encryption.pes.keyseed={{ pax_keyseed }}